.one-page{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}

.admin-page{
  width: 100%;
  height: 100%;
  background-color: rgba(10, 100, 241, 0.3);
}
.modelUpdate{
  background-color: #170707;
}

.right-shift{
  float: right;
  margin-right: 40px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: default;
  display: block;
}


.text-white{
  color: white;
}
.button-update{
  padding: 1px 20px;
  
}

.center{
    margin: auto;
    margin-bottom: 40px;
    width: 50%;
}

.v-form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    align-self: center;
    margin: auto;
    width: 50%;
  }
  .broad-line{
    list-style-type: none;
    margin: 2%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.form-field{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-field-update{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

.label-space{
  padding: 4px 40px;
display: inline-grid;
width: 10%;
}

.btn-m{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
.btn-m:hover {
    background-color: #45a049;
}


  
li {
    float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover {
  background-color: #111;
}

.in-center{
    text-align: center;
}

.container-fluid{
    margin: 100px;
    background-color: snow;
}

.table{
    width: -moz-available;
    border: 2px solid #bbb;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: center;
    background-color: darkgray;
}

tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    border: 1px solid #cbcbcb;
    height: 30px;
    padding: 2px;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(24, 198, 221);
    border: none;
    border-radius: 5px;
}

.btn:hover {
    color: black;
    text-decoration-color: black;
  }

.edit_btn {
    background: #2E8B57;
    color: white;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;

}

.edit_btn:hover {
    color: black;
    text-decoration-color: black;
  }

.del_btn {
    padding: 2px 5px;
    color: white;
    background: #800000;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
}

.del_btn:hover {
    color: black;
    text-decoration-color: black;
  }


.text-success{
    color: green;
}

.text-danger{
  color: red;
}



.notification{
  color: red;
text-align: center;
text-underline-position: left;
font-size: 2rem;
}

.notificationS{
  color: green;
text-align: center;
text-underline-position: left;
font-size: 2rem;
}